@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DO_AN.Models.Ticket

@{
    ViewData["Title"] = "SuaVe";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<h1>Sửa Vé</h1>

<h4>Thông tin vé</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaVe">
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSeat" class="control-label">Số Ghế</label>
                <select asp-for="IdSeat" class="form-control" asp-items="ViewBag.IdSeat"></select>
                <span asp-validation-for="IdSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTrain" class="control-label">Xe</label>
                <select asp-for="IdTrain" class="form-control" asp-items="ViewBag.IdTrain"></select>
                <span asp-validation-for="IdTrain" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="IdTicket" />
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="DanhMucVe" class="btn btn-secondary">Hủy</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

