@{
    ViewData["Title"] = "Home Page";
    Layout = "Master_layout";
}
    <div class="container">
        <h4 class="popular">Tuyến đường phổ biến </h4>
        <div class="row list-popular">
        <div class="ant-carousel">
            <div class="slick-list">
                <div class="slick-track" style="width: 1960px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                    <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                        <div class="a-dcrt-none">
                            <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA">
                            <div class="image-container">
                                <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" alt="item-popular-route" width="233" height="116">
                            </div>
                                <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 cclBUT">
                                    <div class="card-content-title">Sài Gòn - Nha Trang</div>
                                    <div class="card-content-fare">Từ 200.000đ
                                        <div class="card-content-fare-origin">320.000đ</div>
                                    </div>
                                    
                                </div>
                            </a>
                         </div>
                    </div>
                    <div data-index="1" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                        <div class="a-dcrt-none">
                            <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA ">
                                <div class="image-container">
                                    <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/24/img_hero.png" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/24/img_hero.png" alt="item-popular-route" width="233" height="116">
                                </div>
                                <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 bvkSHW">
                                    <div class="card-content-title">Hà Nội - Hải Phòng</div>
                                    <div class="card-content-fare">Từ 100.000đ
                                        <div class="card-content-fare-origin">320.000đ</div>
                                    </div>
                                    
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-index="2" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                        <div class="a-dcrt-none">
                            <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA">
                                <div class="image-container">
                                    <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/3/img_hero.png" alt="item-popular-route" width="233" height="116">
                                </div>
                                <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 epxwNO">
                                    <div class="card-content-title">Sài Gòn - Đà Lạt  </div>
                                    <div class="card-content-fare">Từ 160.000đ
                                        <div class="card-content-fare-origin">320.000đ</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-index="3" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                        <div class="a-dcrt-none">
                            <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA ">
                                <div class="image-container">
                                    <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/22/img_hero.png" alt="item-popular-route" width="233" height="116">
                                </div>
                                <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 bLhVej">
                                    <div class="card-content-title">Sài Gòn - Phan Thiết  </div>
                                    <div class="card-content-fare">Từ 150.000đ
                                        <div class="card-content-fare-origin">320.000đ</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-index="4" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                        <div class="a-dcrt-none">
                            <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA">
                                <div class="image-container">
                                    <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/25/img_hero.png" alt="item-popular-route" width="233" height="116">
                                </div>
                                <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 bvkSHW">
                                    <div class="card-content-title">Sài Gòn - Phan Rang </div>
                                    <div class="card-content-fare">Từ 180.000đ
                                        <div class="card-content-fare-origin">320.000đ</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-index="5" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                        <div class="a-dcrt-none">
                            <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA">
                                <div class="image-container">
                                    <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/20/img_card.png" alt="item-popular-route" width="233" height="116">
                                </div>
                                <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 bNhMQq">
                                    <div class="card-content-title">Sài Gòn - Vũng Tàu  </div>
                                    <div class="card-content-fare">Từ 150.000đ
                                        <div class="card-content-fare-origin">320.000đ</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-index="6" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                        <div class="a-dcrt-none">
                            <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA">
                                <div class="image-container">
                                    <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/21/img_card.png" alt="item-popular-route" width="233" height="116">
                                </div>
                                <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 qYPaV">
                                    <div class="card-content-title">Sài Gòn - Nha Trang </div>
                                    <div class="card-content-fare">Từ 200.000đ
                                        <div class="card-content-fare-origin">320.000đ</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-index="7" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 245px;">
                        <div class="a-dcrt-none">
                            <a tabindex="-1" style="width:100%;display:inline-block" class="PopularRoute__Card-sc-3v0dez-2 hFSNuA">
                                <div class="image-container">
                                    <img class=" ls-is-cached lazyloaded" data-src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/5/img_hero.png?v1" src="https://f1e425bd6cd9ac6.cmccloud.com.vn/cms-tool/destination/images/27/img_hero.png" alt="item-popular-route" width="233" height="116">
                                </div>
                                <div selected="" class="PopularRoute__CartContent-sc-3v0dez-3 hcKCQC">
                                    <div class="card-content-title">Nha Trang  - Sài Gòn</div>
                                    <div class="card-content-fare-origin">320.000đ</div>
                                    <div class="card-content-fare">Từ 200.000đ</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
        
    </div>

