@model DO_AN.ViewModel.OrderTicketViewModel

@{
    ViewData["Title"] = "Danh sách ghế đã đặt";
}

<h2>Danh sách ghế đã đặt</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tên ghế</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var seat in Model.OccupiedSeats)
        {
            <tr>
                <td>@seat.NameSeat</td>
                <td>@(seat.State ? "Đã đặt" : "Chưa đặt")</td>
            </tr>
        }
    </tbody>
</table>
