@model DO_AN.Models.Train

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>TẠO MỚI CHUYẾN XE</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="NameTrain" class="form-label">Tên Chuyến Xe</label>
                <input asp-for="NameTrain" class="form-control" />
                <span asp-validation-for="NameTrain" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DateStart" class="form-label">Ngày Khởi Hành</label>
                <input asp-for="DateStart" type="date" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CoefficientTrain" class="form-label">Hệ Số Chuyến Xe</label>
                <input asp-for="CoefficientTrain" class="form-control" />
                <span asp-validation-for="CoefficientTrain" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="IdTrainRoute" class="form-label">Tuyến Đường</label>
                <select asp-for="IdTrainRoute" class="form-select" asp-items="ViewBag.IdTrainRoute">
                    <option value="">Select Train Route</option>
                </select>
                <span asp-validation-for="IdTrainRoute" class="text-danger"></span>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Tạo Mới</button>
                <a class="btn btn-secondary" href="@Url.Action("Index", "Trains", new { area = "Admin" })">Quay Lại</a>
            </div>
        </form>
    </div>
</div>
