@model DO_AN.Models.Train

@{
    ViewData["Title"] = "Delete Train";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center my-4">XÓA CHUYẾN XE</h1>

<div class="card mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <h3>Bạn có chắc chắn muốn xóa chuyến xe này?</h3>

        <div>
            <h4>Train Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Tên Chuyến Xe</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NameTrain)</dd>

                <dt class="col-sm-4">Ngày Khởi Hành</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DateStart)</dd>

                <dt class="col-sm-4">Hệ Số Chuyến Xe</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CoefficientTrain)</dd>

                <dt class="col-sm-4">Tuyến Đường</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IdTrainRouteNavigation.IdTrainRoute)</dd>
            </dl>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdTrain" />
            <div class="form-group text-center">
                <button type="submit" class="btn btn-danger">Delete</button> |
                <a asp-action="Index" class="btn btn-secondary">Back to Train List</a>
            </div>
        </form>

    </div>
</div>
