@model DO_AN.Models.Train

@{
    ViewData["Title"] = "Edit Train";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center my-4">SỬA CHUYẾN XE</h1>

<div class="card mx-auto" style="max-width: 800px;">
    <div class="card-body">
        <h4 class="card-title">Train Details</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTrain" />

            <div class="mb-3">
                <label class="form-label">Tên Chuyến Xe</label>
                <input asp-for="NameTrain" class="form-control" />
                <span asp-validation-for="NameTrain" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Ngày Khởi Hành</label>
                <input asp-for="DateStart" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Hệ Số Chuyến Xe</label>
                <input asp-for="CoefficientTrain" class="form-control" />
                <span asp-validation-for="CoefficientTrain" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Tuyến Đường</label>
                <select asp-for="IdTrainRoute" class="form-control" asp-items="ViewBag.IdTrainRoute"></select>
                <span asp-validation-for="IdTrainRoute" class="text-danger"></span>
            </div>
   

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
            </div>
        </form>
    </div>
</div>
