<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Faustina:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <div class="desktop-1-child"></div>
      <i class="tiktokcomvexere">: tiktok.com/vexere</i>
      <div class="desktop-1-item"></div>
      <div class="desktop-1-inner"></div>
      <div class="rectangle-div"></div>
      <div class="frame-div">
        <div class="parent">
          <b class="b">5000+ </b>
          <div class="b">Tuyến đường</div>
        </div>
      </div>
      <div class="bus-wrapper">
        <img class="bus-icon" alt="" src="./public/bus@2x.png" />
      </div>
      <div class="travel-agency-wrapper">
        <img class="bus-icon" alt="" src="./public/travel-agency@2x.png" />
      </div>
      <div class="desktop-1-child1"></div>
      <div class="desktop-1-inner1">
        <div class="parent">
          <b class="b">400+</b>
          <div class="bn-xe">Bến xe</div>
        </div>
      </div>
      <div class="bus-size-wrapper">
        <img class="bus-icon" alt="" src="./public/bus-size@2x.png" />
      </div>
      <div class="desktop-1-child2"></div>
      <div class="rectangle-parent">
        <div class="frame-child"></div>
        <img
          class="leaderboard-1-icon"
          alt=""
          src="./public/leaderboard-1@2x.png"
        />

        <div class="thi-gian">Thời gian</div>
        <div class="h-ni-parent">
          <div class="b">Hà nội</div>
          <img class="vector-icon" alt="" src="./public/vector.svg" />
        </div>
        <div class="frame-item"></div>
        <div class="h-ni-group">
          <div class="b">Hà nội</div>
          <img class="vector-icon" alt="" src="./public/vector1.svg" />
        </div>
        <div class="limosine-vip-cc">LIMOSINE VIP CÁC TỈNH</div>
        <div class="frame-inner"></div>
        <div class="im-i">Điểm đi</div>
        <div class="im-n">Điểm đến</div>
        <div class="div">2/6/2024</div>
        <div class="tm-v">Tìm vé</div>
        <div class="frame-child1"></div>
        <i class="h-tr-247">Hỗ trợ 24/7</i>
        <i class="thanh-ton-a">Thanh toán đa dụng</i>
        <i class="nhiu-u-i">Nhiều ưu đãi</i>
        <img class="call-icon" alt="" src="./public/call@2x.png" />

        <img class="voucher-icon" alt="" src="./public/voucher@2x.png" />

        <img class="visa-icon" alt="" src="./public/visa@2x.png" />
      </div>
      <b class="tuyn-ng-ph">TUYẾN ĐƯỜNG PHỔ BIẾN</b>
      <b class="khuyn-mi">KHUYẾN MÃI</b>
      <div class="desktop-1-child3"></div>
      <img class="rectangle-icon" alt="" src="./public/rectangle-12.svg" />

      <div class="desktop-1-child4"></div>
      <div class="desktop-1-child5"></div>
      <div class="desktop-1-child6"></div>
      <div class="desktop-1-child7"></div>
      <div class="desktop-1-child8"></div>
      <div class="desktop-1-child9"></div>
      <div class="desktop-1-child10"></div>
      <div class="desktop-1-child11"></div>
      <div class="desktop-1-child12"></div>
      <div class="desktop-1-child13"></div>
      <b class="h-thng-v">HỆ THỐNG VÉ XE KHÁCH LỚN NHẤT VIỆT NAM</b>
      <div class="desktop-1-inner2">
        <div class="parent">
          <b class="b">2000+</b>
          <div class="bn-xe">Nhà Xe</div>
        </div>
      </div>
      <div class="desktop-1-inner3">
        <div class="parent">
          <b class="b">5000+</b>
          <div class="bn-xe">Đại lý</div>
        </div>
      </div>
      <div class="world-map-wrapper">
        <img class="bus-icon" alt="" src="./public/world-map@2x.png" />
      </div>
      <img class="desktop-1-child14" alt="" />

      <img
        class="icon-vxr-full-2-1"
        alt=""
        src="/public/icon-vxr-full-2-1@2x.png"
      />

      <div class="trang-ch">Trang chủ</div>
      <div class="ng-k">Đăng kí</div>
      <div class="lin-h">Liên hệ</div>
      <div class="hng-dn">Hướng dẫn</div>
      <div class="desktop-1-child15"></div>
      <div class="ng-nhp">Đăng nhập</div>
      <div class="hng-dn-thanh">Hướng dẫn thanh toán</div>
      <div class="hng-dn-thanh1">Hướng dẫn thanh toán</div>
      <div class="chnh-sch-v-container">
        <p class="chnh-sch-v">Chính sách và quy trình giải quyết</p>
        <p class="chnh-sch-v">khiếu nại</p>
      </div>
      <div class="chnh-sch-bo">Chính sách bảo mật thanh toán</div>
      <div class="chnh-sch-bo1">Chính sách bảo mật thông tin</div>
      <div class="quy-ch-v">Quy chế vé xe</div>
      <div class="lin-h1">Liên hệ</div>
      <div class="phn-mm-i">Phần mềm đại lý</div>
      <div class="tin-tc">Tin tức</div>
      <div class="gii-thiu-vexerecom">Giới thiệu vexere.com</div>
      <div class="div1">: 0767050128</div>
      <div class="limosine-vip-cc1">Limosine VIP các tỉnh</div>
      <div class="thnh-ph-h">Thành phố Hồ Chí Minh</div>
      <div class="email-quangcongvan200gmailc">
        Email: quangcongvan200@gmail.com
      </div>
      <div class="hy-gi-cho">Hãy gọi cho chúng tôi để được hỗ trợ</div>
      <img class="phone-icon" alt="" src="./public/phone@2x.png" />

      <i class="v-chng-ti">Về chúng tôi:</i>
      <i class="ti-ng-dng">Tải ứng dụng vé xe rẻ ngay</i>
      <i class="h-tr">Hỗ trợ:</i>
      <div class="tuyn-dng">Tuyển dụng</div>
      <i class="theo-di-chng">Theo dõi chúng tôi trên</i>
      <i class="facebookcomvexere">: facebook.com/vexere</i>
      <i class="instagramcomvexere">: instagram.com/vexere</i>
      <div class="tiktok-wrapper">
        <img class="bus-icon" alt="" src="./public/tiktok@2x.png" />
      </div>
      <div class="qr-code">
        <img class="vector-icon2" alt="" src="./public/vector2.svg" />

        <img class="vector-icon3" alt="" src="./public/vector3.svg" />
      </div>
      <div class="instagram-circle-wrapper">
        <img class="bus-icon" alt="" src="./public/instagram-circle@2x.png" />
      </div>
      <img
        class="download-app-store-icon"
        alt=""
        src="./public/downloadappstore@2x.png"
      />

      <img
        class="download-gg-play-icon"
        alt=""
        src="./public/downloadggplay@2x.png"
      />

      <div class="facebook-wrapper">
        <img class="bus-icon" alt="" src="./public/facebook@2x.png" />
      </div>
    </div>
    <div>@RenderBody()</div>
  </body>
</html>
