<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <style>
        .body{
            margin:0;
            padding:0;
            align-items:center;
            justify-items:center;
            display:flex;
            height: 98vh;
            box-sizing: border-box
        }
    </style>
</head>

<body>
    <div class="body">
        @RenderBody()
    </div>
</body>
</html>
