@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var httpContext = HttpContextAccessor.HttpContext;
    var Email = httpContext.Session.GetString("UserSession");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-utilities.rtl.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-utilities.css" />
    <link rel="stylesheet" href="~/css/access.css" />

</head>
<body>

    <div style="background-color:dodgerblue ; height:98px">
        <div class="container-fluid">
            <div class="row"style="align-items:center">
                <div class="col-2">
                    <img src="~/public/icon-vxr-full-2-1@2x.png" />
                </div>
                
                <div class="col-3 py-3 ">
                    <p style="text-decoration:none" class="lg-a">
                        Cam kết hoàn 150% nếu nhà xe
                        không cung cấp dịch vụ vận chuyển (*)
                    </p>
                </div>
                <div class="col-1"></div>
                <div style="color:white ;text-align:center" class="col-1 py-4">
                    <a style="text-decoration:none" class="lg-a">Đơn hàng của tôi</a>
                </div>
                <div style="color:white ;text-align:center" class="col-1">
                    <a asp-action="Index" asp-controller="Home" style="text-decoration:none" class="lg-a">Trang chủ</a>
                </div>
                <div  style="color:white;text-align:center" class="col-1 py-4 px-sm-0">
                    <a href="/Access/Register" style="text-decoration:none" class="lg-a">Liên hệ</a>
                </div>
               
                @if (!string.IsNullOrEmpty(Email))
                {
                    <div class="col-3">
                        <div class="action">
                            <div class="profile" onclick="menuToggle();">
                                <img src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/user_profile.svg" />
                            </div>
                            <div class="menu">
                                <ul>
                                    <li>
                                        <img src="https://229a2c9fe669f7b.cmccloud.com.vn/images/Auth/account-circle.svg" /><a asp-page="/AccountDt/Index" >Thông tin tài khoản</a>
                                    </li>


                                    <li>
                                        <img src="https://229a2c9fe669f7b.cmccloud.com.vn/images/ticket.svg" /><a href="#">Đơn hàng của tôi</a>
                                    </li>
                                    <li><img src="https://229a2c9fe669f7b.cmccloud.com.vn/images/review.svg" /><a href="#">Nhận xét chuyến đi</a></li>
                                    <li>
                                        <img src="https://229a2c9fe669f7b.cmccloud.com.vn/images/Auth/logout.svg" /><a asp-action="Logout" asp-controller="Access">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                   <div class="col-1">
                   </div>
                   <div class="col-2 py-4 lg-box">
                        <a style="position:absolute;bottom:25%;text-decoration:none;color:black" class="lg-a" a asp-action="Login" asp-controller="Access">Đăng nhập</a>
                   </div>
                }
            </div>
        </div>  
    </div>
    <div>
        @RenderBody()
    </div>
    <footer class="bg-dark text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="footer-heading text-primary">Limosine VIP các tỉnh</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="footer-item">Email: quangcongvan2004@gmail.com</a>
                        </li>
                        <li>
                            <a href="#" class="footer-item">Số điện thoại: 0767050128</a>
                        </li>
                        <li>
                            <span><br />Hãy liên hệ cho chúng tôi để được hỗ trợ</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="footer-heading">Về chúng tôi</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="footer-item">Phần mềm đại lý</a>
                        </li>
                        <li>
                            <a href="#" class="footer-item">Giới thiệu vexere.com</a>
                        </li>
                        <li>
                            <a href="#" class="footer-item">Tuyển dụng</a>
                        </li>
                        <li>
                            <a href="#" class="footer-item">Tin tức</a>
                        </li>
                        <li>
                            <a href="#" class="footer-item">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="footer-heading">Hỗ trợ</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="footer-item">Hướng dẫn thanh toán</a>
                        </li>
                        <li>
                            <a href="#" class="footer-item">Quy chế vé xe</a>
                        </li>
                        <li>
                            <a href="#" class="footer-item">Chính sách bảo mật thông tin</a>
                        </li>
                        <li>
                            <a href="#" class="footer-item">Chính sách bảo mật thanh toán</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <ul class="list-unstyled d-inline-block">
                        <li>
                            <a href="#" class="footer-item-social">Hướng dẫn thanh toán</a>
                        </li>
                        <li>
                            <a href="#" class="footer-item-social">Quy chế vé xe</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </footer>
     <script src="~/lib/bootstrap/js/bootstrap.js"></script> 
     <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script>
        function menuToggle() {
            const toggleMenu = document.querySelector(".menu");
            toggleMenu.classList.toggle("active");
        }
    </script>
</body>
</html>
