<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-utilities.rtl.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-utilities.css" />

</head>
<body>
    <div style="background-color:dodgerblue ; height:80px">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="~/public/icon-vxr-full-2-1@2x.png" />
                </div>
                <div class="col-3"></div>
                <div style="color:white ;text-align:center" class="col-1 py-4">
                    Trang chủ
                </div>
                <div  style="color:white;text-align:center" class="col-1 py-4">
                    Liên hệ
                </div>
                <div  style="color:white;text-align:center" class="col-1 py-4">
                    Đăng kí
                </div>
                <div  style="color:white;text-align:center" class="col-1 py-4">
                    Đăng nhập
                </div>
            </div>
        </div>
    </div>
    <div class="leader-board">
        <div class="title">
            Vexere - Cam kết hoàn 150% nếu nhà xe không cung cấp dịch vụ vận chuyển
        </div>
        <div class="container search">
            
            <div class="row">
                <div class="col-3">
                    
                </div>
                <div class="col-6">
                    <div class="row">
                        
                        <div class="col-5 noidi">
                            <div class="text-diadiem">Nơi Đi</div>
                            <select class="select-diadiem-noidi">
                                <option value="HN">Hà Nội</option>
                                <option value="TPHCM">TPHCM</option>
                                <option value="DaNang">Đà Nẵng</option>
                                <option value="HN">Ha Noi</option>
                                <option value="HN">Ha Noi</option>
                                <option value="HN">Ha Noi</option>
                                <option value="HN">Ha Noi</option>
                                <option value="HN">Ha Noi</option>
                                <option value="HN">Ha Noi</option>
                            </select>
                        </div>
                        
                        <div class="col-5 noiden">
                            <div class="text-diadiem">Nơi Đến</div>
                            <select class="select-diadiem-noiden">
                                <option value="HN">Ha Noi</option>
                                <option value="TPHCM">TPHCM</option>
                                <option value="Da Nang">Da Nang</option>
                                <option value="HN">Ha Noi</option>
                                <option value="HN">Ha Noi</option>
                                <option value="HN">Ha Noi</option>
                                <option value="HN">Ha Noi</option>
                                <option value="HN">Ha Noi</option>
                            </select>
                        </div>
                        <div class="col-2 btn btn-warning"style="height:50px;margin-top:25px;align-content:center">
                            <div class="timve">
                                Tìm Kiếm
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    
                </div>
            </div>
        </div>
    </div>
    @* <div class="leader-board">
        <div class="container search">
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-5 noidi">
                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">
                                        Nơi đi
                                    </span>
                                    <div class="caret"></div>
                                </div>
                                    <ul class="menu">
                                        <li class="active">Hà Nội</li>
                                        <li>TPHCM</li>
                                        <li>Đà Nẵng</li>
                                        <li>Đà Lạt</li>
                                        <li>Đà Lạt</li>
                                        <li>Đà Lạt</li>
                                    </ul>
                            </div>
                        </div>
                        <div class="col-5 noiden">
                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">
                                        Nơi đi
                                    </span>
                                    <div class="caret"></div>
                                </div>
                                <ul class="menu">
                                    <li class="active">Hà Nội</li>
                                    <li>TPHCM</li>
                                    <li>Đà Nẵng</li>
                                    <li>Đà Lạt</li>
                                    <li>Đà Lạt</li>
                                    <li>Đà Lạt</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-2 timve">
                            tim ve
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    
                </div>
            </div>
        </div>
    </div> *@
    <div style="height:500px">
        @RenderBody()
    </div>
    <h4 style="text-align:center">HỆ THỐNG VÉ XE KHÁCH LỚN NHẤT VIỆT NAM</h4>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="shadow">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/public/world-map@2x.png" />
                        </div>
                        <div class="col-8 fs-5">
                            <h6 class="mt-2  fw-bolder ">5000+</h6>
                            <a>Tuyến đường</a>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col">
                <div class="shadow">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/public/bus@2x.png" />
                        </div>
                        <div class="col-8 fs-5">
                            <h6 class="mt-2  fw-bolder ">2000+</h6>
                            <a>Nhà xe</a>
                        </div>
                    </div>
                </div>
             </div>
                
            <div class="col">
                <div class="shadow">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/public/travel-agency@2x.png" />
                        </div>
                        <div class="col-8 fs-5">
                            <h6 class="mt-2  fw-bolder ">5000+</h6>
                            <a>Đại lý</a>
                        </div>
                    </div>
                </div>
                </div>
            <div class="col">
                <div class="shadow">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/public/bus-size@2x.png" />
                        </div>
                        <div class="col-8 fs-5">
                            <h6 class="mt-2  fw-bolder ">4000+</h6>
                            <a>Bến xe</a>
                        </div>
                    </div>
                </div>
             </div>
            
        </div>
    </div>
    <br />
    <br />



        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <h4 style="color:cornflowerblue"class="footer-heading">Limosine VIP các tỉnh</h4>
                        <ul class="list-group-1">
                            <li>
                                <a class="footer-item"href="#">Email: quangcongvan2004@gmail.com</a>
                            </li>
                            <li>
                            <a class="footer-item">Hãy gọi cho chúng tôi để được hỗ trợ</a>
                            </li>
                            <li>
                            <a class="footer-item" href="#">Số điện thoại: 0767050128</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                    <h4 class="footer-heading">Về chúng tôi</h4>
                    <ul class="list-group-1">
                        <li>
                            <a class="footer-item" href="#">Phần mềm đại lý</a>
                        </li>
                        <li>
                            <a class="footer-item">Giới thiệu vexere.com</a>
                        </li>
                        <li>
                            <a class="footer-item" href="#">Tuyển dụng</a>
                        </li>
                        <li>
                            <a class="footer-item" href="#">Tin tức</a>
                        </li>
                        <li>
                            <a class="footer-item" href="#">Liên hệ</a>
                        </li>
                    </ul>
                    </div>
                    <div class="col-3">
                    <h4 class="footer-heading">Hỗ trợ</h4>
                    <ul class="list-group-1">
                        <li>
                            <a class="footer-item" href="#">Hướng dẫn thanh toán</a>
                        </li>
                        <li>
                            <a class="footer-item" href="#">Quy chế vé xe</a>
                        </li>
                        <li>
                            <a class="footer-item" href="#">Chính sách bảo mật thông tin</a>
                        </li>
                        <li>
                            <a class="footer-item" href="#">Chính sách bảo mật thanh toán</a>
                        </li>
                        <li>
                            <a class="footer-item" href="#">Hướng dẫn thanh toán</a>
                        </li>
                    </ul>
                    </div>
                    <div class="col-2">
                    <h4 class="footer-heading">Tải ngay</h4>
                    <div class="footer-dowload">
                        <img src="~/public/vector3.svg" />
                        <div class="footer-dowload-app">
                            <img class="footer-dowload-app-img" src="~/public/downloadggplay@2x.png" />
                            <img class="footer-dowload-app-img"src="~/public/downloadappstore@2x.png" />
                        </div>
                    </div>
                 </div>
            </div>
            </div>
            <div class="container">
                <div class="row">
                <div class="col">
                    <h4 class="footer-heading">Liên hệ với chúng tôi</h4>
                    <ul class="list-group-1">
                        <li>
                            <a class="footer-item-social" href="#">Hướng dẫn thanh toán</a>
                        </li>
                        <li>
                            <a class="footer-item-social" href="#">Quy chế vé xe</a>
                        </li>
                        <li>
                            <a class="footer-item-social" href="#"><i class="fab fa-facebook"></i></a>
                        </li>

                    </ul>
                </div>
                </div>
            </div>
            
        </footer>
     <script src="~/lib/bootstrap/js/bootstrap.js"></script> 
     <script src="~/lib/bootstrap/js/bootstrap.js"></script> 
</body>
</html>
