



<div style="height:100vh">
    <div class="container">
        <div class="row" style="display:flex;margin-top:50px">
            <div class="col-4 box-menu-info">
                <div class="menu-info">
                    <a href="#">
                        <img src="~/public/account-circle.svg" />
                        <span>Thông tin tài khoản</span>
                    </a>
                </div>
                <div class="menu-info">
                    <a href="#">
                        <img src="~/public/ticket.svg" />
                        <span>Đơn hàng của tôi</span>
                    </a>
                </div>
                <div class="menu-info">
                    <a href="#">
                        <img src="~/public/review.svg" />
                        <span>Nhận xét chuyến đi</span>
                    </a>
                </div>
                <div class="menu-info">
                    <a href="#">
                        <img src="~/public/logout.svg" />
                        <span>Đăng xuất</span>
                    </a>
                </div>
            </div>


            <div style="margin-left:30px" class="col-8">
                <form style="height:100%;width:100%; display: flex; flex-direction: column">
                    <div class="core__Box-sc-1c81tsc-0 iDkvAV">
                        <span class="core__Text-sc-1c81tsc-1 hDnryH">
                            Email
                            <span style="color: #EB5757">*</span>
                        </span>
                        <input type="text" class="ant-input">
                    </div>


                    <div class="core__Box-sc-1c81tsc-0 iDkvAV">
                        <span class="core__Text-sc-1c81tsc-1 hDnryH">
                            Họ và tên<span style="color: #EB5757">*</span>
                        </span>
                        <input type="text" class="ant-input" value="Văn">
                    </div>


                    <div class="core__Box-sc-1c81tsc-0 iDkvAV">
                        <span class="core__Text-sc-1c81tsc-1 hDnryH">
                            Số điện thoại
                            <span style="color: #EB5757">*</span>
                        </span>
                        <input type="text" class="ant-input" value="Văn">
                    </div>
                    <div class="core__Box-sc-1c81tsc-0 iDkvAV">
                        <span class="core__Text-sc-1c81tsc-1 hDnryH">Ngày sinh</span>
                        <div>
                            <input placeholder="" class="ant-calendar-picker-input ant-input" value="2004-19-11" type="date">
                        </div>
                    </div>
                    <div class="core__Box-sc-1c81tsc-0 iDkvAV">
                        <span class="core__Text-sc-1c81tsc-1 hDnryH">Giới tính</span>
                        <div class="radio__group">
                            <div class="radio__button">
                                <input type="radio" id="type3" name="type" value="female">
                                <label data-icon="L" for="type3">
                                    <p>Nam</p>
                                </label>
                            </div>
                            <div class="radio__button">
                                <input type="radio" id="type4" name="type" value="male">
                                <label data-icon="XL" for="type4"><p>Nữ</p></label>
                            </div>
                        </div>
                    </div>
                    <div class="core__Box-sc-1c81tsc-0 geRRnr">
                        <button style="width:100%;height:100%" disabled="" type="submit" class="btn-primary">
                            <span>Lưu</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>