<link rel="stylesheet" href="~/css/access.css" />
<link rel="stylesheet" href="~/css/index.css" />
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-utilities.rtl.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-utilities.css" />
@{
    Layout = "_LayoutAccount";
}
@model Account



<div class="d-flex justify-content-center align-items-center vh-100" style="width:100%">
    <div class="container shadow-lg p-4" style="max-width: 800px;    border-radius: 10px;">
        <div class="row">
            <div class="col-md-6 d-none d-md-block">
                <img src="~/public/img-01.webp" class="img-fluid" alt="Login Image">
            </div>
            <div class="col-md-6">
                @using (Html.BeginForm("Login", "Access", FormMethod.Post))
                {
                    <form class="login100-form">
                        <h3 class="text-center mb-4">Member Login</h3>
                        @{
                            if (ViewBag.Message != null)
                            {
                                <p class="text-danger text-center">@ViewBag.Message</p>
                            }
                        }
                        <div class="mb-3">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "text", placeholder = "Email", required = "required", autofocus = "autofocus" })
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password", placeholder = "Password", required = "required" })
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>
                        <div class="text-center mt-3">
                            <a class="text-decoration-none" asp-action="ForgotPassword" asp-controller="Access">Forgot Username / Password?</a>
                        </div>
                        <div class="text-center mt-3">
                            <a class="text-decoration-none" asp-action="Register" asp-controller="Access">Create your Account</a>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
