.menu-info{
    margin-bottom:20px;

}
.box-menu-info {
    border-radius: 8px;
    border: 1px solid rgb(224, 224, 224);
    padding: 16px;
    width: 200px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-sizing:border-box;
    height:70%;
}
a {
    color: #1890ff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
    color:black;
}


.ant-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 32px;
    padding: 4px 11px;
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.iDkvAV {
    margin-bottom: 16px;
}

* {
    scroll-behavior: smooth;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.iDkvAV {
    margin-bottom: 16px;
}
.geRRnr {
    margin-top: auto;
    padding-top: 16px;
    border-top: 1px solid rgb(192, 192, 192);
    height:60px;
}

input:focus {
    box-shadow: 0 0 3px 1px #0074D9;
    outline:#3b77f2;
}
.ant-btn-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.ant-input[disabled] {
    cursor: not-allowed;
    opacity: 1;
}
button:hover {
    box-shadow: 0px 0px 10px 0px rgba(52, 152, 219, 0.7);
    background-color: #4F94CD;
}
